
  body {
    font-family: sans-serif;
  }
  
  #container {
    width: 400px;
    margin: 0 auto;
  }
  h2 {
    text-align: center;
    color: brown;
  }
  /* .mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid grey;
    width: 590px;
    padding-left: 10px;
  } */

  .inputcontainer {
    display: flex;
  }

  .checkboxchooseall {
    border: solid 2px;
    border-right: 0;
    padding: 3px;
  }

  .checkboxchooseall {
      color: #0d6efd;
      border-color: black;
      cursor: pointer;
  }

  .maininput {
      /* width: 100%; */
      border: solid 2px;
      flex-grow: 1;
      padding-left: 5px;
      text-align: center;
  }

  .taskbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: solid 1px;
    border-top: 0;
  }

  .btncontainer {
      display: flex;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  button.btn {
      margin: 5px;
  }

  .taskbox input {
    margin: 5px;
  }

  .deletebutton {
      visibility: hidden;
      margin: 5px;
  }

  .taskbox:hover .deletebutton {
    visibility: visible;
  }

  .hide {
    display: none;
  }

  .show {
    display: flex;
  }

  .completed {
    text-decoration: line-through;
    color: grey;
  }

  .active {
    text-decoration: none;
    font-weight: 600;
  }

