
  body {
    font-family: sans-serif;
  }
  
  #container {
    width: 400px;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    color: #108694;
    font-weight: 600;
  }
  
  /* .mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid grey;
    width: 590px;
    padding-left: 10px;
  } */

  .inputcontainer {
    display: flex;
  }

  .checkboxchooseall {
    border: solid 2px grey;
    border-right: 0;
    width: 6%;
    color: #ffffff;
    cursor: pointer;
    background: grey;
    padding: 0px 4px 0px 4px;
    font-weight: 800;
    font-size: 22px;
    text-align: center;
  }

  .checkboxchooseall:hover {
    background: #ffffff;
    color: grey;
  }
  #checkboxbhooseallinvisible {
    display: none;
  }

  .maininput {
    /* width: 100%; */
    border: solid 2px grey;
    flex-grow: 1;
    padding-left: 5px;
    text-align: center;
    flex-wrap: wrap;
  }

  .taskbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: solid 1px grey;
    border-top: 0;
  }

  #todolist div {
    background: #f7f7f7;
  }

  /* #todolist div:nth-child(2n) {
    background: #e8e8e8;
  } */

  .tasktext {
    word-break: break-all;
  }

  .btncontainer {
    display: flex;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  button.btn {
    margin: 5px;
  }

  .taskbox input {
    margin: 5px;
  }

  .deletebutton {
    visibility: hidden;
    margin: 5px;
  }

  .taskbox:hover .deletebutton {
    visibility: visible;
    cursor: pointer;
  }

  .hide {
    display: none;
  }

  .show {
    display: flex;
  }

  .completed {
    text-decoration: line-through;
    color: grey;
  }

  .active {
    text-decoration: none;
    font-weight: 600;
  }

